.expanded-card {
    background-color: rgb(236, 236, 236);
    width: 700px;
    border-radius: 5px;
}

.exit {
    display: flex;
    flex-direction: row-reverse;
}

.exit-btn {
    background: transparent;
    color: rgb(65, 65, 65);
    border: none;
    font-size: 40px;
}

.exit-btn:hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  .exit-btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }