.release {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: row;
}

.size-limit {
    width: 725px;
    height: 100%;
    transform: scaleX(-1)
}

.card-container {
    overflow-y: auto;
}

#scroll-style {
    transform: scaleX(-1)
}


#scroll-style::-webkit-scrollbar-track
{
  box-shadow: 1px 1pxe;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(196, 196, 196);
  
}

#scroll-style::-webkit-scrollbar
{
	border-radius: 10px;
	width: 12px;
	background-color: rgb(152, 216, 240);
    opacity: 50%;
}

#scroll-style::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: 1px 1px;  
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(135, 213, 241);
    opacity: 50%;
}