.release {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: row;
}

/* .release .expanded {
    background: lightblue;
    width: 400px;
    height: 100vh;
} */