.wizard {
    background-image: url('../../assets/background.jpg');
    background-size: auto 100vw;
    height: 100vh;
    width: 100vw;
    color: ghostwhite;
}


.container {
margin-top: 150px;
display: grid;
top: 0;
left: 0;
}

.wizard .inputs {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.wizard .inputs input {
    height: 40px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.wizard .wizard-header {
    font-family: 'Alatsi', sans-serif;
    
}

.wizard .buttons {
    margin: 0 0;
}