.wizard  {
  background-image: url("/assets/background.jpg");
  background-size: auto 100vw;
  height: 100vh;
  width: 100vw;
  color: ghostwhite;
}

.container {
  margin-top: 150px;
  display: grid;
  top: 0;
  left: 0;
}

.wizard .wiz-inputs {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.wizard .wiz-inputs select {
  height: 40px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background: ghostwhite;
  font-family: 'Public Sans', sans-serif;
  font-weight: 100px;
}

.wizard .wiz-inputs option {
    font-family: 'Public Sans', sans-serif;
}

.wizard .wizard-header {
  font-family: "Alatsi", sans-serif;
}

.wizard .wiz-buttons {
  margin: 20px 0;
  
}

.wiz-buttons button {
  background: ghostwhite;
  border-radius: 5px;
  color: #30bced;
  border: none;
  height: 40px;
  font-size: 15px;
  font-weight: 800;
  margin: 0px 20px;
}

/* media queries */

@media (max-width: 1680px) {
    .wizard {
        background-size: cover;
    }
}

@media (max-width: 1230px) {
    .wizard {
        background-size: cover;
    }
}

@media (max-width: 850px) {
  .wizard {
    background-size: cover;
  }
}

@media (max-width: 675px) {
    .wizard .container .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .wizard .container .buttons {
        margin-top: 0px;
    }
}

@media (max-height: 721px) {
    .wizard .wiz-buttons {
        margin-top: 20px;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 350%)
    }
}

@media (max-height: 680px) {
    .wizard .wiz-buttons {
        margin-top: 20px;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 550%)
    }
}


