.background {
  background-image: url("/assets/background.jpg");
  height: 100vh;
  width: 100vw;
  background-size: auto 100vw;
}

.login-all h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -325%);
  color: ghostwhite;
  font-family: "Alatsi", sans-serif;
  font-size: 80px;
  text-decoration: underline;
  text-decoration-color: #30bced;
}

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: #e6e8e6;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  opacity: 88%;
}

.login .inputs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  margin-bottom: 20px;
}

.inputs input {
  margin: 5px 0;
  border: none;
  height: 20px;
  border-radius: 3px;
}

.login .buttons {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

.buttons button {
  margin: 0 5px;
  background: ghostwhite;
  border-radius: 5px;
  color: #30bced;
  border: none;
  height: 25px;
  font-size: 15px;
  font-weight: 800;
}

.by-stripe {
    width: 60%;
    height: 60px;
}

.card-element {
    background-color: white;
    width: 80%;
    height: 40px;
    font-size: 40px;
}

.big-logo i {
  color: #6ae2a0;
  font-size: 65px;
}

/* .blurYes {
    transition: 1s;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
} */

.form-container {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 475px;
    z-index: 5;
    border: 1px solid black;
    background: white; 
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stripe-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    color: rgb(43, 43, 43);
    font-size: 1.5rem;
    margin-top: 20px;
}

.card-element {
    background-color: white;
    width: 80%;
    height: 20px;
    font-size: 40px;
    background: ghostwhite;
}

.x {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    align-content: center;
}

.x:hover {
    cursor: pointer;
    color: lightgray;
}

/* media queries */

@media (max-width: 1680px) {
    .login-all h1 {
      font-size: 70px;
    }
  
    .background {
      background-size: auto 100vh;
    }
  }

  @media (max-width: 1480px) {
      .background{
        background-size: cover;
      }
  }

@media (max-width: 830px) {
    .login-all h1 {
      font-size: 60px;
    }
  
    .background {
      background-size: auto 100vh;
    }
  }

@media (max-width: 650px) {
  .login-all h1 {
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -350%);
    margin-bottom: 0px;
  }

  .big-logo i {
      font-size: 35px;
  }
}

@media (max-width: 478px) {
  .login-all h1 {
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -205%);
    margin-bottom: 0px;
  }
}

@media (max-width: 430px) {
  .login-all h1 {
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -205%);
    margin-bottom: 0px;
  }
  .login {
    width: 275px;
  }
  .buttons button {
    margin: 0 2.5px;
    height: 30px;
  }
}
